
/************************* INIZIO NAV BAR **************************/
.navbar-default {
    background-color: #2c3e50;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-default .navbar-toggle {
    background-color: rgb(26, 188, 156);
    margin-top: 15px;
}

.navbar-default .navbar-toggle:hover {
    background-color: #148f77;
}

.span-menu {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.icon-bar-wp {
    display: inline-block;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-brand  {
    height: 100%;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 44px;
    padding: 15px 10px;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-default .navbar-brand,
.collapse.navbar-collapse ul li a {
    color: #fff;
}

.collapse.navbar-collapse ul {
    padding: 24px 16px;
}

.collapse.navbar-collapse ul li {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.collapse.navbar-collapse ul li a:hover{
    color: rgb(26, 188, 156);
}

/************************* FINE NAV BAR **************************/

/************************* INIZIO JUMBO **************************/


.jumbo,
.about {
    background-color: rgb(26, 188, 156);
}

.container-jumbo {
    text-align: center;
    padding-top: 200px;
    padding-bottom:100px;
}

.logo-jumbo {
    width: 240px;
    height: 255px;
    display: inline-block;
}

.title {
    max-width: 100%;
    font-weight: 700;
}

.color-title-white {
    color: #fff;
}

.star {
    font-size: 32px;
}

.star-white {
    color: #fff;
}

.star-line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    width: 100%;
    max-width: 10%;
    height: 5px;
    margin: 0 10px;
}

.line-white {
    background-color: #fff;
}

.container-jumbo p {
    font-size: 24px;
    color: #fff;
    margin-top: 20px;
}

/************************* FINE NAV BAR **************************/

/************************* INIZIO PORTFOLIO **************************/
.portfolio {
    padding-bottom: 100px;
}

.container-general {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.color-title-blue {
    color: #2c3e50;
}

.star-blue {
    color: #2c3e50;
}

.line-blue {
    background-color: #2c3e50;
}

.grid-img {
    padding-top: 50px;
}

.grid-img::after {
    content: '';
    display: table;
    clear: both;
}

.grid-img img {
    display: block;
    margin: auto;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.overlay {
    width: 80%;
    position: relative;
}

.overlay-img-portfolio {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(26, 188, 156);
    border-radius: 10px;
    opacity: 0;
}

.overlay-img-portfolio:hover {
    opacity: 0.8;
}

.plus {
    width: 100%;
    height: 100%;
    position: relative;
}

.plus i {
    font-size: 80px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/************************* FINE PORTFOLIO **************************/

/************************* INIZIO ABOUT **************************/
.paragraphs-about {
    margin-top: 50px;
    max-width: 100%;
}

.paragraphs-about p{
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.btn-about {
    margin-top: 20px;
}
.btn-about a {
    display: inline-block;
    padding: 16px 28px;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.btn-about a:hover {
    background-color: #f8f8f8;
    color: #000;
}
/************************* FINE ABOUT **************************/

/************************* INIZIO CONTACT ME **************************/

form {
    width: 50%;
    margin: auto;
    text-align: initial;
}

.form-control {
    padding: 30px 0;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

.btn-default {
    padding: 20px;
    background-color: rgb(26, 188, 156);
    color: #fff;
    font-size: 20px;
}

.btn.btn-default:hover {
    background-color: #148f77;
    color: #fff;
}

/************************* FINE CONTACT ME **************************/

/************************* INIZIO FOOTER **************************/

footer .row {
    padding: 50px 0;
}

.footer-top {
    background-color: #2c3e50;
}

.footer-bottom {
    background-color: #212529;
    text-align: center;
}

.footer-bottom p {
    color: #fff;
    padding: 20px 0;
}

.location,
.social,
.about-freelancer {
    color: #fff;
    text-align: center;
}

.location h3,
.social h3,
.about-freelancer h3 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.location p,
.social p,
.about-freelancer p{
    font-size: 21px;
}

.social ul {
    list-style-type: none;
    padding-left: 0;
}

.social li {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 100%;
    margin-right: 10px;
}

.social a {
    color: #fff;
    font-size: 25px;
    padding: 13px;
}

.social a:hover {
    color: #000;
}


.social li:hover {
    background-color: #fff;
}

.about-freelancer a {
    color: rgb(26, 188, 156);
}


/************************* FINE FOOTER **************************/
@media screen and (max-width: 991px) {
    .overlay img {
        max-width: 70%;
    }
}
@media screen and (min-width: 768px) {
    .navbar-brand {
        padding: 25px 25px;
    }
}
